<div class="back">
  <div class="center">
    <div class="form">
      <div class="text">
        <div>
          <form class="form-inline my-2 my-lg-0">
          <p class="col-9">Liste des médecins</p>
            <input class="form-control col-2" type="search" placeholder="Recherche un médecin" aria-label="Search">
            <button class="btn btn-outline-primary col-1" type="submit">Search</button>
          </form>
        </div>

        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Nom</th>
              <th scope="col">Prénom</th>
              <th scope="col">Adresse</th>
              <th scope="col">N° Téléphone</th>
              <th scope="col">Spécialité complémentaire</th>
              <th scope="col">Département</th>
              <th scope="col">Détails</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Martin</td>
              <td>Prosper</td>
              <td>25 rue Anatole France BRIANCON 05100</td>
              <td>04 85 24 41 74</td>
              <td></td>
              <td>5</td>
              <td><a class="button"><img src="..\assets\images\icons8-more-24.png"/></a></td>
            </tr>
            <tr>
              <td>BLANC</td>
              <td>Anne-Lucie</td>
              <td>39 rue des gatinnes BILLIAT 01200</td>
              <td>03 56 89 54 00</td>
              <td>Pédiatre</td>
              <td>1</td>
              <td><a class="button"><img src="..\assets\images\icons8-more-24.png"/></a></td>
            </tr>
            <tr>
              <td>GARCIA</td>
              <td>Camille</td>
              <td>58 rue du stade MESSINCOURT 08110</td>
              <td>03 65 48 99 29</td>
              <td></td>
              <td>8</td>
              <td><a class="button"><img src="..\assets\images\icons8-more-24.png"/></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
