<div class="back">
  <div class="center">
    <div class="form">
      <div class="text">
        <div>
          <form class="form-inline my-2 my-lg-0">
          <p class="col-9">Liste des médecins</p>
            <input class="form-control col-2" type="search" placeholder="Recherche un médecin" aria-label="Search">
            <button class="btn btn-outline-primary col-1" type="submit">Search</button>
          </form>
        </div>

        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Nom</th>
              <th scope="col">Prénom</th>
              <th scope="col">Adresse</th>
              <th scope="col">N° Téléphone</th>
              <th scope="col">Spécialité complémentaire</th>
              <th scope="col">Département</th>
              <th scope="col">Détails</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let medecin of medecins">
              <td>{{ medecin.nom }}</td>
              <td>{{ medecin.prenom }}</td>
              <td>{{ medecin.adresse }}</td>
              <td>{{ medecin.tel }}</td>
              <td>{{ medecin.specialitecomplementaire }}</td>
              <td>{{ medecin.departement }}</td>
              <td><a class="button" routerLink="{{medecin.id}}"><img src="..\assets\images\icons8-more-24.png"/></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
