<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #696969;">
    <a class="navbar-brand">PPE-Angular</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/']">Accueil</a>
            </li>
            <li class="nav-item">
            </li>
            <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['ListeMedicaments']">Médicaments</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['ListeMedecins']">Médecins</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['ListeVisites']">Rapports Visite</a>
            </li>
        </ul>
        <span>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown" routerLinkActive="active">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer;">
                        <svg class="bi bi-person-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"/>
                        </svg>
                        Jean NEYMAR
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['logout']">Déconnexion</a>
                    </div>
                </li>
            </ul>
        </span>
    </div>
</nav>