<div class="container">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Famille</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">ADIMOL</th>
            <td>Antibiotique</td>
          </tr>
          <tr>
            <th scope="row">AMOPIL</th>
            <td>Antibiotique</td>
          </tr>
          <tr>
            <th scope="row">AMOXAR</th>
            <td>Antibiotique</td>
          </tr>
          <tr>
            <th scope="row">ADIMOL</th>
            <td>Antibiotique</td>
          </tr>
          <tr>
            <th scope="row">AMOPIL</th>
            <td>Antibiotique</td>
          </tr>
          <tr>
            <th scope="row">AMOXAR</th>
            <td>Antibiotique</td>
          </tr>
          <tr>
            <th scope="row">ADIMOL</th>
            <td>Antibiotique</td>
          </tr>
          <tr>
            <th scope="row">AMOPIL</th>
            <td>Antibiotique</td>
          </tr>
          <tr>
            <th scope="row">AMOXAR</th>
            <td>Antibiotique</td>
          </tr>
          
        </tbody>
    </table>
    
</div>