
<div class="back">
  <div class="center">
    <div class="form">
      <div class="text">
        <div>
          <form class="form-inline my-2 my-lg-0">
            <p class="col-9">Liste des rapports</p>
            <input class="form-control col-3" type="text" name="search" placeholder="Rechercher un rapport.." aria-label="Search" [(ngModel)]="searchText" autocomplete="off">
          </form>
        </div>

        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Motif</th>
              <th scope="col">bilan</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rapport of rapports | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize | filter:searchText; let i = index" ngClass="detail"
              (click)="openDialog(i)">
              <td> {{ rapport.date | date:'dd/MM/yyyy'}} </td>
              <td> {{ rapport.motif }} </td>
              <td> {{ rapport.bilan }} </td>
            </tr>
          </tbody>
        </table>

        <ngb-pagination class="d-flex justify-content-center" [collectionSize]="rapports.length" [pageSize]="pageSize" [(page)]="page"></ngb-pagination>

      </div>
    </div>
  </div>
</div>
