
<div class="back">
  <div class="center">
    <div class="form">
      <div class="text">
        <div>
          <form class="form-inline my-2 my-lg-0">
            <p class="col-9">Liste des médicaments</p>
            <input class="form-control col-2" type="search" placeholder="Recherche un médicament" aria-label="Search">
            <button class="btn btn-outline-primary col-1" type="submit">
              <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z" clip-rule="evenodd"/>
              </svg>
            </button>
          </form>
        </div>

        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Nom</th>
              <th scope="col">Famille</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" ><a data-toggle="modal" data-target="#exampleModal" >ADIMOL</a></th>
              <td>Antibiotique</td>
            </tr>
            <tr>
              <th scope="row"><a data-toggle="modal" data-target="#exampleModal" >AMOPIL</a></th>
              <td>Antibiotique</td>
            </tr>
            <tr>
              <th scope="row"><a data-toggle="modal" data-target="#exampleModal" >AMOXAR</a></th>
              <td>Antibiotique</td>
            </tr>
            <tr>
              <th scope="row"><a data-toggle="modal" data-target="#exampleModal" >ADIMOL</a></th>
              <td>Antibiotique</td>
            </tr>
            <tr>
              <th scope="row"><a data-toggle="modal" data-target="#exampleModal" >AMOPIL</a></th>
              <td>Antibiotique</td>
            </tr>
            <tr>
              <th scope="row"><a data-toggle="modal" data-target="#exampleModal" >AMOXAR</a></th>
              <td>Antibiotique</td>
            </tr>
            <tr>
              <th scope="row"><a data-toggle="modal" data-target="#exampleModal" >ADIMOL</a></th>
              <td>Antibiotique</td>
            </tr>
            <tr>
              <th scope="row"><a data-toggle="modal" data-target="#exampleModal" >AMOPIL</a></th>
              <td>Antibiotique</td>
            </tr>
            <tr>
              <th scope="row"><a data-toggle="modal" data-target="#exampleModal">AMOXAR</a></th>
              <td>Antibiotique</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ADIMOL</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><strong>Famille: </strong>Antibiotique</p>
        <p><strong>Dépot légal: </strong>ADIMOL9</p>
        <p><strong>Composition: </strong>Amoxicilline</p>
        <p><strong>Effets secondaire: </strong>Ce mediargrgrogj,gjvrrtvgr,b_bnsrt_trhtrh,brth</p>
        <p><strong>Contre-indication: </strong>Ce médicament est contre-indiqué egrgr htrh rths thrt thtthth trrr</p>
        <p><strong>Prix d'un échantillon: </strong>9.00</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
